@use 'sass:math';

%flexCenteredItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

%cardSize{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

:root{
    --backgroundColor: #181425;
    --detailColor: #ff0044;
    --textColor: #FFFFFF;
}

*{
    box-sizing: border-box;
}

body{
    @extend %flexCenteredItems;

    background-color: var(--backgroundColor);

    height: 100dvh;
    margin: 0;
}

.cardGrid{
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(4, 150px);
    border: 5px solid var(--textColor);
    padding: 10px;
    border-radius: 0px 0px 25px 25px;
}


.cardHeader{
    @extend %flexCenteredItems;

    border: 5px solid var(--textColor);
    border-radius: 25px 25px 0px 0px;
    border-bottom: 0px;
    height: math.div(150px, 2);
    background-color: var(--textColor);
    
    h1{
        margin: 0;
        color: var(--detailColor);
    }
}   

.card{
    @extend %cardSize;
    background-color: var(--textColor);
    
    img{
        @extend %cardSize;
        opacity: 0;
    }

    &.active{
        img{
            opacity: 1;
        }

    }
}

.loadingScreen{
    @extend %flexCenteredItems;
    background-color: var(--backgroundColor);
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    
    h1{
        color: var(--textColor);
        animation: infinite 2s loadingRotate ease-out;
    }
}

@keyframes loadingRotate {
    100%{
        transform: rotateZ(360deg);
    }    
}



@media(max-width: 700px){
    .cardGrid{
        grid-template-columns: repeat(4, calc(25% - 5px));
        justify-items: center;
        gap: 5px;
        
        max-width: calc(100dvw - 10px);
    }
    .card{
        width: calc(100% - 5px);
        margin: 5px;
        img{
            width: 100%;
        }
    }
    body{
        height: auto;
        min-height: 100dvh;
    }
}
@media(max-width: 500px){
    .cardGrid{
        gap: 0;
        padding: 1px;
        grid-template-columns: repeat(4, calc(25%));
        grid-template-rows: repeat(4, calc(25%));
    }
    .card{
        width: calc(100% - 5px);
        margin: 5px;
        img{
            width: 100%;
        }
    }
}